pkgbase = linux-aarch64-lts
	pkgdesc = AArch64 multi-platform LTS Linux
	pkgver = 6.6.26
	pkgrel = 1
	url = https://github.com/lynix/linux-aarch64-lts
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = dtc
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.26.tar.xz
	source = 0001-net-smsc95xx-Allow-mac-address-to-be-set-as-a-parame.patch
	source = 0002-arm64-dts-rockchip-disable-pwm0-on-rk3399-firefly.patch
	source = config
	sha256sums = af54b449f4fb93b8e8daa346144a7309e8e95174bd962c4b5917cf56120456d9
	sha256sums = 004f5330702dea26ba35ec1f573a5af4c18ce0ea3d2c35818ee3d1034ee5fce5
	sha256sums = bcb8a42654df5f9670367950daaa01b165c15618f827d18b7b2a8d53d39227a4
	sha256sums = 8621b707cb454cfbd88c342ee265b3f1919907ea242440d39768372af17e94d6

pkgname = linux-aarch64-lts
	pkgdesc = The AArch64 multi-platform LTS Linux kernel and modules
	install = linux-aarch64-lts.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = linux=6.6.26
	provides = WIREGUARD-MODULE
	conflicts = linux

pkgname = linux-aarch64-lts-headers
	pkgdesc = Headers and scripts for building modules for the AArch64 multi-platform LTS Linux kernel
	provides = linux-headers=6.6.26
	conflicts = linux-headers
