pkgbase = linux-aarch64-lts
	pkgdesc = AArch64 multi-platform LTS Linux
	pkgver = 6.1.66
	pkgrel = 1
	url = https://github.com/lynix/linux-aarch64-lts
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = uboot-tools
	makedepends = dtc
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.66.tar.xz
	source = 0001-net-smsc95xx-Allow-mac-address-to-be-set-as-a-parame.patch
	source = 0002-arm64-dts-rockchip-disable-pwm0-on-rk3399-firefly.patch
	source = cadmium-gru.0001-drm-bridge-analogix_dp-Don-t-return-EBUSY-when-msg-s.patch
	source = cadmium-gru.0002-drm-rockchip-Only-wait-for-panel-ACK-on-PSR-entry.patch
	source = config
	sha256sums = 419e62cd6c4239e6950b688db9e8753eb1e99c216dc3204f7932398a3fef1a0c
	sha256sums = 013ab7f5bcf2cd486e819fb13fde1f673ac72978984a8befea13938eaf8ddd8e
	sha256sums = bcb8a42654df5f9670367950daaa01b165c15618f827d18b7b2a8d53d39227a4
	sha256sums = a83304fdf07d3497147f07131595f3aea09e1f8d2c54cd48bed174f68a1221dc
	sha256sums = 915aefb009189993de12ebdf6a01f0e533fbcee4c6fd0f78115fcbdc110bc7e9
	sha256sums = ff23e3e3b66cc687dbd6c99921f8f5c161d0e66235e1d7227d9a5f84a690aa30

pkgname = linux-aarch64-lts
	pkgdesc = The AArch64 multi-platform LTS Linux kernel and modules
	install = linux-aarch64-lts.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = linux=6.1.66
	provides = WIREGUARD-MODULE
	conflicts = linux

pkgname = linux-aarch64-lts-headers
	pkgdesc = Headers and scripts for building modules for the AArch64 multi-platform LTS Linux kernel
	provides = linux-headers=6.1.66
	conflicts = linux-headers
